@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #595959;
}

.temporary-disabled {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.4;
}

#temporary-menu a {
    color: #aaaaaa;
}

#temporary-menu a:hover {
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    float: none;
    clear: both;
}

nav,
main {
    width: 100%;
    position: fixed;
    left: 0;
}

nav {
    top: 0;
    height: 60px;
    background-color: #457ab1;
    padding: 17px 0;
}

nav>.container {
    display: flex;
    justify-content: space-between;
}

nav>.container>ul {
    color: white;
    display: flex;
}

nav>.container>ul>li {
    line-height: 26px;
}

nav>.container>ul>li:not(:first-child) {
    padding-left: 15px;
    border-left: 1px solid white;
}

nav>.container>ul>li:not(:last-child) {
    margin-right: 15px;
}

nav>.container>ul>li>span {
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 13px;
}

#nav-right {
    display: flex;
}

#save-btn {
    width: 95px;
    height: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    margin-right: 15px;
    border-radius: 7px;
    background: #a6ce39;
    letter-spacing: 1px;
    cursor: pointer;
}

#brand {
    color: white;
    font-size: 25px;
    line-height: 25px;
}

main {
    top: 60px;
    height: calc(100vh - 60px);
    padding: 15px 0 0;
}

nav>.container,
main>.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#comments-column {
    height: 100%;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    overflow-y: auto;
}

[data-comments-toggle="0"] #comments-template,
[data-comments-toggle="1"] #comments-list,
[data-comments="0"] #comments-list,
[data-comments="0"] #comments-template,
[data-comments="0"] #comments-column-toggler {
    display: none;
}

ul#comments-column-toggler {
    display: flex;
    border: 1px solid white;
    border-radius: 7px;
    margin-bottom: 15px;
}

ul#comments-column-toggler li {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul#comments-column-toggler li:last-child {
    border-left: 1px solid white;
}

ul#comments-column-toggler[data-toggler="0"] li.comments-template-toggle,
ul#comments-column-toggler[data-toggler="1"] li.comments-list-toggle {
    color: #aaaaaa;
}

ul#comments-column-toggler[data-toggler="0"] li.comments-template-toggle:hover,
ul#comments-column-toggler[data-toggler="1"] li.comments-list-toggle:hover {
    color: white;
}

ul#comments-column-toggler[data-toggler="0"] li.comments-list-toggle,
ul#comments-column-toggler[data-toggler="1"] li.comments-template-toggle {
    color: white;
    cursor: default;
}

#comments-template>ul>li {
    background-color: white;
    /*#bfbfbf*/
    padding: 20px;
    border-radius: 10px;
    cursor: move;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    border: 1px solid #404040;
    position: relative;
    min-height: 100px;
    display: flex;
    align-items: center;
}

#comments-template>ul>li::after {
    content: '';
    position: absolute;
    bottom: -17px;
    right: 15px;
    z-index: 2;
    width: 65px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    background-size: 65px;
    background-image: url('icons/bubble-corner.png');
}

/*#comments-template>ul>li:not(#create-new)::after {
    background-image: url('icons/bubble-corner-gray.png');
}

#comments-template>ul>li#create-new::after {
    background-image: url('icons/bubble-corner.png');
}*/

/*#comments-template>ul>li#create-new {
    background-color: white;
}*/

#comments-list {
    background-color: #bfbfbf;
    padding: 20px 10px;
}

#comments-list ul li {
    position: relative;
    padding-left: 45px;
    min-height: 25px;
    cursor: pointer;
}

#comments-list ul li:not(:last-child) {
    margin-bottom: 25px;
}

#comments-list ul li::before {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 39px;
    z-index: 1;
}

#comments-list ul li:not(.active)::before {
    background-image: url('icons/comment-empty.png');
}

#comments-list ul li.active::before {
    background-image: url('icons/comment-empty-active.png');
}

#comments-list ul li>span {
    width: 36px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #3f9daf;
    z-index: 2;
    padding-left: 10px;
    font-weight: bold;
}

#main-content-wrapper {
    width: calc(100% - 480px);
    min-width: calc(100% - 480px);
    max-width: calc(100% - 480px);
    height: 100%;
    background-color: #bfbfbf;
    padding: 0 10px;
}

#meta-data {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 60px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

#assignment-title {
    height: 20px;
    padding-right: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#assignment-details {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
}

#assignment-details>li:not(:first-child) {
    padding-left: 15px;
    border-left: 1px solid black;
}

#assignment-details>li:not(:last-child) {
    margin-right: 15px;
}

#main-content {
    display: flex;
}

#editor {
    background: white;
    border: 1px solid #404040;
    height: calc(100vh - 115px);
    overflow-x: hidden;
    overflow-y: auto;
}

#editor-body {
    position: relative;
}

.pages>img {
    width: 100%;
}

#pages .cp,
#pages .cp>img,
#pages .cp>p {
    width: 60px;
    height: 40px;
}

#pages .cp {
    background-image: url('icons/comment-empty.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#pages .cp.focused {
    background-image: url('icons/comment-empty-active.png');
}

#pages .rp {
    width: 300px;
    height: 100px;
    background-color: white;
    border: 3px dashed #4d4d4d;
}

#pages .cp,
#pages .rp {
    position: absolute;
    cursor: move;
}

#pages .cp {
    z-index: 3;
}

#pages .rp {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pages .cp>p {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 38px;
    font-size: 22px;
    padding-left: 9px;
    text-align: center;
    color: #4d4d4d;
}

#pages .cp.focused>p {
    color: #457ab1;
}

#pages .cp:not(:hover)>ul,
#pages .rp:not(:hover)>ul {
    display: none;
}

#pages .cp>ul,
#pages .rp>ul {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 31px;
    cursor: default;
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 4px;
}

#pages .cp>ul {
    position: absolute;
    width: 95px;
    top: 5px;
}

#pages .rp>ul {
    width: 65px;
}

#pages .cp:not(.edged)>ul {
    left: 60px;
}

#pages .cp.edged>ul {
    left: -95px;
}

#pages .cp>ul>li,
#pages .rp>ul>li {
    width: 25px;
    height: 25px;
    text-indent: -99999px;
    overflow: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

#pages .cp>ul>li:not(:hover),
#pages .rp>ul>li:not(:hover) {
    opacity: 0.6;
}

#pages .cp>ul>li.delete-pin,
#pages .rp>ul>li.delete-redactor {
    background-image: url('icons/delete-pin.png');
}

#pages .cp>ul>li.duplicate-pin,
#pages .rp>ul>li.duplicate-redactor {
    background-image: url('icons/duplicate-pin.png');
}

#pages .cp>ul>li.new-pin {
    background-image: url('icons/new-pin.png');
}

#tools {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    padding: 5px 10px 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tools li {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#tools ul:not(.secondary-tools) li {
    cursor: move;
}

#tools .secondary-tools li {
    background-size: 30px;
    cursor: pointer;
}

#tools ul:not(.secondary-tools) li:not(:last-child) {
    margin-bottom: 30px;
}

#tools .secondary-tools li:not(:last-child) {
    margin-bottom: 15px;
}

.add-comment-btn {
    height: 28px;
}

.comments-list-btn {
    background-image: url('icons/comments-list.png');
    height: 45px;
}

.redact-btn {
    height: 24px;
}

.zoom-in-btn {
    background-image: url('icons/zoom-in.png');
    height: 43px;
}

.zoom-out-btn {
    background-image: url('icons/zoom-out.png');
    height: 43px;
}

#editor .page>img {
    display: block;
}

#robot-column {
    height: 100%;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

#audiences {
    height: 40px;
    margin-bottom: 15px;
    line-height: 20px;
    padding: 10px 0;
    color: #aaaaaa;
    position: relative;
}

#audiences>p {
    padding-right: 15px;
    background-image: url(icons/down-arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 18px;
}

#audiences>p>span {
    color: white;
    cursor: pointer;
}

#audiences[data-toggler="0"]>.audience-groups,
#audiences[data-toggler="0"]>.audience-list {
    display: none;
}

.audience-groups {
    padding: 10px 20px;
    background-color: #717171;
    color: #aaaaaa;
    border: 2px solid #aaaaaa;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 4;
}

.audience-groups li {
    line-height: 25px;
    cursor: pointer;
}

.audience-groups li:hover,
.audience-groups li.active {
    color: white;
}

.audience-groups li.active {
    cursor: default;
}

.audience-groups li:not(:last-child) {
    margin-bottom: 10px;
}

.audience-list {
    padding: 0 20px 20px;
    background-color: #595959;
    color: #aaaaaa;
    position: absolute;
    top: 0;
    left: -230px;
    width: 230px;
    z-index: 4;
}

.audience-class {
    display: flex;
    margin-bottom: 15px;
}

.audience-class>p {
    line-height: 35px;
    margin-right: 10px;
    font-size: 18px;
    color: white;
}

.audience-class>ul {
    display: flex;
}

.audience-class>ul li {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #717171;
    border: 1px solid #aaaaaa;
    cursor: pointer;
    font-size: 22px;
}

.audience-class>ul li:not(:last-child) {
    margin-right: 10px;
}

.audience-class>ul li.selected {
    color: white;
}

.audience-students {
    background-color: white;
    max-height: calc(100vh - 145px);
    overflow-y: auto;
}

.audience-students li {
    padding: 0 10px 0 15px;
    color: black;
    border-bottom: 1px solid #CCCCCC;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.audience-students li.selected,
.audience-students li:hover {
    background-color: #CCCCCC;
}

.audience-students li.selected {
    background-image: url(icons/checker.svg);
    background-repeat: no-repeat;
    background-position: center right 7px;
    background-size: 11px;
}

#add-comment {
    height: calc(100% - 50px);
}

#comment-input {
    height: calc(100% - 225px);
    padding-bottom: 90px;
    background-image: url(icons/bubbletail.png);
    background-repeat: no-repeat;
    background-position: right 20px bottom 15px;
    background-size: 55px;
    position: relative;
}

#comment-input textarea {
    width: 100%;
    height: 100%;
    padding: 20px 20px 70px;
    border-radius: 15px;
    background-color: white;
    resize: none;
    color: rgba(30, 64, 114, 1);
    font-size: 18px;
}

#play {
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #aaaaaa;
    left: 10%;
    bottom: 110px;
    width: 80%;
    height: 30px;
    position: absolute;
    z-index: 9;
    cursor: not-allowed;
}

#comment-input[data-play="1"] #play {
    background-color: #457ab1 !important;
    cursor: pointer !important;
}

#robot-emotions,
#robot-emotions::after {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}

#robot-emotions {
    height: 225px;
    position: relative;
}

#robot-emotions::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('images/misty/misty.png');
}

#robot-emotions.blink {
    background-image: url('images/misty/blink.png');
}

#robot-emotions.default,
#robot-emotions.attentive {
    background-image: url('images/misty/attentive.png');
}

#robot-emotions.happy {
    background-image: url('images/misty/happy.png');
}

#robot-emotions.sad {
    background-image: url('images/misty/sad.png');
}

#robot-emotions.questioning {
    background-image: url('images/misty/questioning.png');
}

#robot-emotions.confused {
    background-image: url('images/misty/confused.png');
}

#robot-emotions.surprised {
    background-image: url('images/misty/surprised.png');
}

#selected-emotion {
    position: absolute;
    left: 0;
    top: -65px;
    z-index: 3;
    width: 135px;
}

#selected-emotion>p {
    color: white;
    padding-right: 15px;
    cursor: pointer;
    background-image: url(icons/down-arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 18px;
}

#selected-emotion[data-toggler="0"]>ul {
    display: none;
}

#selected-emotion>ul {
    padding: 10px 20px;
    background-color: #717171;
    color: #aaaaaa;
    border: 2px solid #aaaaaa;
    position: absolute;
    top: 30px;
    left: 0;
}

#selected-emotion>ul li {
    line-height: 25px;
    cursor: pointer;
}

#selected-emotion>ul li:hover,
#selected-emotion>ul li.active {
    color: white;
}

#selected-emotion>ul li.active {
    cursor: default;
}

#audiences>ul li:not(:last-child) {
    margin-bottom: 5px;
}